---
import PageHeading from "../components/page-heading.astro";
import DemosLoop from "../components/demo-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Demo"
      description="Dive into my demos; a blend of demos."
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <DemosLoop />
    </div>
  </section>
</Layout>
