---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico" />
    <style>
      .home-button {
        position: fixed;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        height: 40px;
        overflow: hidden;
        transition: all 0.2s ease;
      }
      .home-button:hover {
        bottom: 10px;
        height: 40px;
      }
      .home-button:not(:hover) {
        transition-delay: 2s;
      }
    </style>
  </head>
  <body class="">
    <button
      class="home-button bg-zinc-900 text-white px-4 py-2 rounded-lg shadow-lg z-10"
      onclick="window.location.href = '/demo'"
    >
      Home
    </button>
    <slot />
  </body>
</html>
